*{
    margin: 0;
    padding: 0;
}

/* Paste the entire content of styles.css here */
html,body{
    background-color: #1f2641;
    width: 100vw;
}

.content{
    display: flex;
    /* border: 2px solid red; */
    overflow: hidden;
    padding: 10px;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.content_box{
    /* border: 2px solid rgb(242, 255, 0); */
    width: 60%;
    height: 70vh;
    padding: 10px;
    background-color: #bfa37d;
    border-radius: 20px;
    max-width: 850px;
}

.container{
    /* border: 2px solid rgb(0, 255, 51); */
    display: flex;
    height: 85%;
}

.course_menu{
    /* border: 2px solid rgb(0, 47, 255); */
    width: 50%;
    height: 100%;
}

.course_menu h2 {
    margin-bottom: 20px;
    text-align: center;
}

#acadamicNameContainer{
    /* border: 2px solid rgb(255, 0, 255); */
    overflow-x: auto;
    height: 85%;
}

#acadamicNameContainer li{
    text-decoration: none;
    color: black;
    background-color: #f7c568;
    padding: 10px 20px;
    border-radius: 5px;
    display: block;
    cursor: pointer;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    margin: 10px;
    word-break: break-all;
    transition: background-color 0.3s;
}

.image-container{
    text-align: center;
}

.image-container img{
    width: 70%;
}