*{
    margin: 0;
    padding: 0;
}

.header{
    background-color: blue;
    height: 80px;
}

.mainBody{
    /* border: 2px solid red; */
    /* background-image:url("https://t3.ftcdn.net/jpg/05/00/34/58/360_F_500345899_4OqmtspFst6SRnNQvLj7h7TfKOrBwTer.jpg"); */
    background-color: #2d3e84;
}

.rh{
    margin-top: 1%;
}

.years{
    /* border: 2px solid black; */
    margin: 18px 10px;
}

.years .chip{
    /* border: 2px solid aqua; */
    display: inline-block;
    padding: 10px 10px;
    border-radius: 40px;
    background-color: aquamarine;
    font-weight: bold;
    color: black;
    margin-top: -2vw;
}

.years .subjects{
    /* border: 2px solid green; */
    /* height: 200px; */
    display: flex;
    flex-wrap:wrap;
    /* justify-content: center; */
}
.years .subjects .subject{
    padding: 10px;
    height: 100px;
    width: 250px;
    margin: 10px;
    background-color:rgb(12, 93, 79);
    background-image: linear-gradient(to bottom right, #00C0FF, #4218B8);
    border-radius: 20px;
    color:black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    color: color-mix(in srgb, red 50%, blue 50%);
    text-shadow: 2px 0px black;
    box-shadow: 10px 7px;
    overflow-y: auto;
}

.subject::before{
    content: "";
    height: 70%;
    width: 2px;
    background-color: red;
    margin-right: 5px;
}


/* this portion will start the navigation bar and logo*/

body{
    background-color: rgb(18, 46, 77);
    color: white;
}

.noSubject{
    /* border: 2px solid red; */
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: x-large;
    color: cyan;
}
/*responsive navigation */
@media only screen and (max-width: 821px) {
    .inputbox{
        padding: .5%;
        margin: 0%;
        margin-left: 0%;
        border-radius: 10px;
        width: 26vw;
        border: 2px solid rgb(0, 204, 255);
    }
    .years .subjects{
        justify-content: center;
    }
}
