/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root {
    --background-color: black;
    --text-color: hsl(0, 0%, 100%);
  }
  
  body,html {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #b8b8b8;
  }
  
  /* Container */
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    /*display: none;*/
  }

  .linkContainer{
    /* border: 2px solid red; */
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: none;
  }

  .messageHolder{
    background-color: #333;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
  }

  .message{
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 10px;
    color: aliceblue;
  }

  .link{
    /* border: 2px solid blue; */
    margin: 10px;
    padding: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: rgba(238, 238, 242, 0.338) 0px 30px 60px -12px inset, rgba(211, 209, 209, 0.49) 0px 18px 36px -18px inset;
  }

  .link p{
    color: #8abbf0;
    text-decoration: underline;
  }
/* CSS */
#copyBtn {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 40px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

#copyBtn:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

#copyBtn:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

#copyBtn:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

/* CSS */
#backToHomeBtn {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#backToHomeBtn::after,
#backToHomeBtn::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

#backToHomeBtn::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

#backToHomeBtn::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

#backToHomeBtn:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

#backToHomeBtn:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

#backToHomeBtn:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}

.wrapper {
  display: grid;
  place-content: center;
  background-color: var(--background-color);
  min-height: 60vh;
  font-family: "Oswald", sans-serif;
  font-size: clamp(1.5rem, 1rem + 12vw, 10rem);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--text-color);
}

.wrapper > div {
  grid-area: 1/1/-1/-1;
}
.top {
  clip-path: polygon(0% 0%, 100% 0%, 100% 48%, 0% 58%);
}
.bottom {
  clip-path: polygon(0% 60%, 100% 50%, 100% 100%, 0% 100%);
  color: transparent;
  background: -webkit-linear-gradient(177deg, black 53%, var(--text-color) 65%);
  background: linear-gradient(177deg, black 53%, var(--text-color) 65%);
  background-clip: text;
  -webkit-background-clip: text;
  transform: translateX(-0.02em);
}


  
  /* Header Buttons */
  .header {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-bottom: 10px;
    background-color: #333;
    padding: 10px;
    border-radius: 10px;
  }
  
  .btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  
  /* Test Details Section */
  .test-details {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    /* background-color: #d9e7ff; */
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 10px;
    gap: 10px;
  }
  
  .test-info, .test-settings {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  label {
    font-weight: bold;
  }
  
  input, textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }
  
  textarea {
    resize: none;
  }
  
  /* Question Section */
  .question-section {
    display: flex;
    gap: 20px;
  }

  .main-view{
    display: flex;
    gap: 10px;
    max-height: 50vh;
  }
  
  .recent-question {
    flex: 1;
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    max-height: 100%;
    overflow-y: auto;
  }
  
  .add-question {
    flex: 1;
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  #question{
    min-height: 20%;
  }
  /* Options Section */
.options-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .option-item {
    display: flex;
    align-items: center;
    gap: 10px;
    /* border: 2px solid red; */
    border-radius: 5px;
    overflow: hidden;
    background-color: #f4f4f4;
    flex-wrap: nowrap;
  }
  
  #recent-total{
    /* border: 2px solid red; */
    padding: 5px;
    text-align: center;
  }

  hr{
    margin: 10px;
  }
.question-container{
  padding: 5px;
  margin-top: 10px;
  position: relative;
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.147) 0px 50px 100px -20px, 
  rgba(255, 255, 255, 0.145) 0px 30px 60px -30px, 
  rgba(255, 255, 255, 0.374) 0px -2px 6px 0px inset;
}
.button-Holder{
  /* border: 2px solid blue; */
  position: absolute;
  bottom: 5px;
  right: 5px;
}
.editBtn{
  border-radius: 5px;
  cursor: pointer;
}
.deleteBtn{
  border-radius: 5px;
  cursor: pointer;
}
  
  /* Option Styling for Inputs */
  .input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .option-item input[type="text"] {
    background-color: transparent;
    border: none;
    outline: none;
  }
  .option-item > input[type="text"]:focus {
    outline: none;
  }
  /* .hidden { 
    display: none;
  }*/
  
  /* Add Question Button */
  .add-more {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .add-more:hover {
    background-color: #218838;
  }
  
  /* Styling for Question Box */

  .add-question input[type="text"] {
    padding: 8px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    min-width: 90%;
  }

  
  .add-more:hover {
    background-color: #218838;
  }
.SelectInput{
  padding: 8px;
  border-radius: 10px;
}

  
  /* Responsive Design */
  @media (max-width: 768px) {
    .header{
      justify-content: center;
    }
    .main-view{
      flex-direction: column;
    }
    .test-details {
      flex-direction: column;
    }
  
    .question-section {
      flex-direction: column;
    }
  
    .recent-question{
      min-height: 50vh;
    }
    .option-item input[type="text"] {
      width: 100%;
    }
  }
  
  .green{
    color: #28a745;
  }