*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(18, 46, 77);
    color: white;
}

 .left{
    font-size: 2.0rem;
    /* margin-right: 200px; */
}
.firstSection{
    /* border: 2px solid red; */
    padding: 20px;
}

.box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.department{
    min-width: 300px;
    max-width: 300px;
    min-height: 300px;
    /* border: 2px solid blue; */
    overflow: hidden;
    border: 2px solid rgb(248, 156, 156);
    box-shadow: 4px 7px 7px 0px black;
    border-radius: 20px;
    cursor: pointer;
}
.department img{
    width: 100%;
    min-height: 250px;
    border-radius: 20px;
    object-fit: cover;
}
.department p{
    text-align: center;
    font-size: x-large;
}