*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(18, 46, 77);
    color: white;
}

 .left{
    font-size: 2.0rem;
    /* margin-right: 200px; */
}
/*
.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(245, 236, 236);
    font-family:'Courier New', Courier, monospace;
    max-width: 50%;
    margin-left: 35%;
    margin-top: 16%;
    height:80%;
}
.firstHalf{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.text-box{
    justify-content: center;
    width: auto;
    height: auto;
}

.text-big{
    font-size: 50px;
    color: #f6f0f0;
    margin: 0%;
}
.text-small{
    font-size: 40px;
    color: rgb(9, 245, 84);
}
.btn-btn-sm{
    padding: 5px 10px;
    margin: 2px 0;
    border: 2px solid rgb(18, 17, 17);
    border-radius: 8px;
    background-color: none;
    cursor: pointer;
}
.btnin{
    padding: 8px 20px;
    margin: 2px 0;
    border: 2px solid rgb(18, 17, 17);
    border-radius: 8px;
    background-color: none;
    cursor: pointer;

}
.btnin a{
    text-decoration: none;
}
.btnout{
    padding: 8px 20px;
    margin: 2px 0;
    border: 2px solid rgb(18, 17, 17);
    border-radius: 8px;
    background-color: none;
    cursor: pointer;
    text-decoration: none;
}
.btnout a{
    text-decoration: none;
}
.btnin:hover{
    background-color: rgb(14, 196, 190);
    font-size: 1.04rem;
 }
.btnout:hover{
background-color: red;
font-size: 1.04rem;
}

.footer{
    margin-top:10%;
}

.addnewelement{
    display: flex;
    justify-content: right;
    margin-right: 2%;
    margin-top: 1%;
}
.inputbox{
    padding: .5%;
    margin: 0%;
    margin-left: 0%;
    border-radius: 10px;
    width: 16vw;
    border: 2px solid rgb(0, 204, 255);
}
.addbtn{
    padding: 0.5%;
    border-radius: 12%;
    background-color: rgb(8, 139, 247);
    color:white;
    cursor: pointer;
}
/* Media Queries for Responsiveness */
/*
@media only screen and (max-width: 821px) {
    .box-main {
        flex-direction: column;
        text-align: center;
        max-width: 100%;
        padding: 20px;
        margin-top: 190px;
        margin-left: 21px
    }

    .text-big {
        font-size: 2.5rem;
    }

    .text-small {
        font-size: 1.5rem;
    }

    .button {
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width: 480px) {
    .text-big {
        font-size: 2rem;
    }

    .text-small {
        font-size: 1.2rem;
    }

    .btnin, .btnout {
        padding: 8px 20px;
    }
}
.header{
    background-color: blue;
    height: 80px;
}

.mainBody{
    margin-top: 10px;
    border: 2px solid red; 
    background-image:url("https://t3.ftcdn.net/jpg/05/00/34/58/360_F_500345899_4OqmtspFst6SRnNQvLj7h7TfKOrBwTer.jpg");
}


.image{
    height: 20vw;
    width: 20vw;
    margin-top: 4%;
    margin-left: 9%;
    padding: 0%;
    cursor: pointer;
}
.image2{
    height: 20vw;
    width: 20vw;
    margin-top: -24%;
    margin-left: 40%;
    margin-bottom: 3%;
    border-radius: 0%;
    cursor: pointer;
}
.text{
    font-size: 20px;
    color: #fdfdfd;
    margin-left: 6%;

}
.text2{
    font-size: 20px;
    color: #fdfdfd;
    margin-left: 43%;
    margin-top: -37px;

}


.text3{
    font-size: 20px;
    color: #fdfdfd;
    margin-left:78%;
    margin-top: -37px;

}

.image3{
    height: 20vw;
    width: 20vw;
    margin-top: -24%;
    margin-left: 72%;
    margin-bottom: 3%;
    border-radius: 0%;
    cursor: pointer;
}

.contain img:hover{
    filter: grayscale(10);
    transform: scale(1.03);
    
}

.contain img{
    border: 2px solid rgb(248, 156, 156);
    box-shadow: 4px 7px 7px 0px black;
    transition:  400ms;
    border-radius: 8%;
}

/* .years .subjects .subject {
    border: 2px solid green;
    height: 200px;
    width: 250px;
    margin: 10px;
    border-radius: 20px;
    text-align: center;
    background-color: rgb(172 240 49);
} 

@media (max-width: 600px) {
    .text{
        font-size: 15px;
        color: #fdfdfd;
        margin-left: 26%;
        margin-top: -22px;
    }

    .text2{
        font-size: 15px;
        color: #fdfdfd;
        margin-left: 26%;
        margin-top: -22px;
    }

    .text3{
        font-size: 15px;
        color: #fdfdfd;
        margin-left: 26%;
        margin-top: -22px;
    }
    .image2{
        height: 30vw;
    width: 30vw;
    margin-top: 9%;
    margin-left: 33%;
    margin-bottom: 7%;
    border-radius: 8%;
    cursor: pointer;
    }

    .image{
        height: 30vw;
        width: 30vw;
        margin-top: 9%;
        margin-left: 33%;
        margin-bottom: 7%;
        border-radius: 8%;
        cursor: pointer;
    }
    .image3{
        height: 30vw;
        width: 30vw;
        margin-top: 9%;
        margin-left: 33%;
        margin-bottom: 7%;
        border-radius: 8%;
        cursor: pointer;
    }
} 
*/
.firstSection{
    /* border: 2px solid red; */
    padding: 20px;
}

.box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.department{
    min-width: 300px;
    max-width: 300px;
    min-height: 300px;
    /* border: 2px solid blue; */
    overflow: hidden;
    border: 2px solid rgb(248, 156, 156);
    box-shadow: 4px 7px 7px 0px black;
    border-radius: 20px;
}
.department img{
    width: 100%;
    min-height: 250px;
    border-radius: 20px;
    object-fit: cover;
}
.department p{
    text-align: center;
    font-size: x-large;
}