*{
    box-sizing: border-box;
}

:root{
    --color-warning: #f7c94b; 
    --color-bg: #1f2641;
}

h4{
    font-size: 1.3rem;
    color: #f7c94b;
}
/* For navbar */
nav{
    background: var(--color-bg);
    width:100vw;
    padding: 15px;
}

.nav__container{
    display: flex;
    justify-content:space-around;
    align-items: center;
    width:100%;
}
.nav__container a{
    text-decoration: none;
}

.nav__menue{
    display: flex;
    width: 60%;
    justify-content: space-around;
    align-items: center;
}
.nav__menue li{
    list-style: none;
    cursor: pointer;
    color: white;
    font-weight: 600;
}
.nav__menue a{
    font-size: 1rem;
    font-weight: 600;
    color: white;
    transition: all 400ms ease;
    margin:0em 0.5em;
    text-decoration: none;
}
.nav__menue a:hover{
    color: var(--color-warning);
}
.dropdown-menu {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #1e1e1e;
    width: max-content;
}

.dropdown-menu li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}
.dropdown{
    height: 1.7rem;
    position: relative;
}
.dropdown-menu li a:hover {
    background-color: #555;
}
#userDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
#userDetails img{
    filter: invert();
}

#logout{
    margin: 5px;
}
/* Show dropdown on hover */
.dropdown:hover{
    color: #f7c94b;
}
.dropdown:hover .dropdown-menu {
    position: absolute;
    display: block;
    z-index: 1;
}



.border{
    border: 2px solid red;
}

.input{
    width: 40vw;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.submitBtn{
    padding: 10px 40px;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    text-align: center;
    font-size: 1.2rem;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 53%, rgba(0,212,255,1) 100%);
}

.form{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

@media screen and (max-width : 700px) {
    .nav__container{
        flex-direction: column;
        gap: 10px;
    }
    .nav__menue{
        width: 100%;
        justify-content: space-around;
    }
    .form{
        flex-direction: column;
    }
    .input{
        width: 100%;
    }
    
    .submitBtn{
        width: 100%;
    }
}


/* For custom scrollbar */
::-webkit-scrollbar{
    width: 3px;
    
}
::-webkit-scrollbar-track{
    background: #f1f1f1;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb{
    background: #888;
}
::-webkit-scrollbar-thumb:hover{
    background: #555;
}